<div class="container">
  <%= link_to "Change your search preferences", edit_criteria_path(@user) %>
  <h2 class="criteria-title">Edit your profile</h2>
  <div class="card-form">
   <div class="card-criteria">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :name, required: true, input_html: { value: current_user.name } %>
        <%= f.input :age, required: true, input_html: { value: current_user.age } %>
        <%= f.input :gender, required: true, collection: ["male", "female"] %>
        <%= f.input :hand, required: true, collection: ["Left Handed", "Right Handed"] %>
        <%= f.input :club, required: true %>
        <%= f.input :description, required: true %>
        <%= f.input :ranking, collection: [["1 - Novice", 1],["2 - Beginner", 2], ["3 - Intermediate", 3], ["4 - Advanced", 4], ["5 - Expert", 5]], required: true %>
        <%= f.input :address, input_html: { id: "button-autocomplete" }, required: true %>
        <%= f.input :picture, input_html: { value: current_user.picture } %>
        <%= f.input :picture_cache, as: :hidden %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-success" %>
      </div>
    </div>
  </div>
    <% end %>
    <div class="cancel">
      <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
</div>
