<div class="container">
  <%= link_to "Change your search preferences", edit_criteria_path(@user) %>
  <h2>Edit your profile</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name, required: true %>
      <%= f.input :age, required: true %>
      <%= f.input :ranking, autocomplete: "off", hint: "Choose your ranking from 0 to 5", required: true, collection: 0 .. 5 %>
      <%= f.input :address, label: false, input_html: { id: "button-autocomplete" }, required: true %>
      <%= f.input :picture %>
      <%= f.input :picture_cache, as: :hidden %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
