<div class="container">
    <h3 class="page-title">Your Chats</h3>
  </div>


  <div class="all-conv">
      <% @conversations.each do |conversation| %>
        <div class="each-conv">
          <div id="avatar-conv">
            <%= cl_image_tag("#{conversation.users.first.picture}")%>
          </div>

          <div class="conv-name-date">
            <div class="infos-content">
              <div class="font-conv-name">
                <%= conversation.users.first.name %>
              </div>

            <div class="date-indicator">
              <%= l(conversation.messages.last.created_at, format: :long) %>

            </div>
          </div>
          <%= link_to "", conversation_path(conversation), class: "conv-link" %>
        </div>
      <%end%>
    <%= cl_image_tag("TN_icone.png") %>
  </div>
</div>
