<div class="container">
    <h3 class="page-title">Your Chats</h3>
  </div>

  <div class="all-conv">
      <% @conversations.each do |conversation| %>
      <div class="xs-col-6">
        <div class="each-conv">
          <div id="avatar-conv">
            <% if current_user == conversation.users.first %>
              <%= cl_image_tag("#{conversation.users.last.picture}")%>
            <% else %>
              <%= cl_image_tag("#{conversation.users.first.picture}")%>
            <% end %>

            <%= link_to "", conversation_path(conversation), class: "conv-link" %>

          </div>

          <div class="conv-name-date">
            <%= link_to "", conversation_path(conversation), class: "conv-link" %>
            <div class="infos-content">
              <div class="font-conv-name">
                <% if current_user == conversation.users.first %>
                  <%= "#{conversation.users.last.name} & you" %>
                <% else %>
                  <%= "#{conversation.users.first.name} & you" %>
                <% end %>
              </div>

              <div class="font-conv-date">
                <%= l(conversation.messages.last.created_at, format: :long) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%end%>
    <%= cl_image_tag("TN_icone.png") %>
  </div>
</div>


