<h2 class="title-chat text-center">Let's chat and Plan!</h2>
<div class="message-list-container">
  <% @conversation.messages.each do |message| %>
    <% if message.user_id == current_user.id%>
      <div class="text-right green-text"><%= message.content %></div>
    <% else %>
      <div class="message-left-content">
        <div class="text-left orange-text" >
          <div class="profile-picture-message" style="background-image: url(<%= cl_image_path current_user.picture %>);">
          </div>
          <div class="message-content" ><%= message.content %> </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="message-input">
  <%= simple_form_for([@conversation, @message]) do |f| %>
  <%= f.input :content, label: "Your message" %>
  <%= f.submit "SEND", class: "btn btn-primary" %>
  <% end %>
</div>
