
<div class="profile-picture" style="background-image: url(<%= cl_image_path current_user.picture %>);"> </div>
<br>
<h2> <%= @user.name %></h2>
<p>Age: <%= @user.age %></p>
<p>Ranking: <%= @user.ranking %></p>


<%= simple_form_for @answer do |f| %>
  <%= f.hidden_field :receiver_id, :value => @user.id %>
  <%= f.submit name: "answer[status]", value: "like", class: "btn btn-success" %>
  <%= f.submit name: "answer[status]", value: "dislike", class: "btn btn-danger" %>
<% end %>
