<div class="cards-container" >
  <div id="viewport">
    <div class="page-adjust-criterias">
      <p class="page-title">More Tennis Partners?</p>
      <%= link_to "Adjust your Search Criterias", edit_criteria_path(current_user), class: "btn btn-success" %>
    </div>


    <ul class="stack">
      <% @users.each do |user|%>
        <li data-index="<%= user.id %>">
          <div class="card-picture" style="background-image: url(<%= cl_image_path user.picture unless user.picture.blank?%>);">
            <div class="card-name-age"> <%= user.name %>, <%= user.age %>
            </div>
          </div>

          <div class="card-info" >
            <div class="icons-card" >
              <div>
                <i class="fas fa-map-marker-alt"></i>
               at <%= Geocoder::Calculations.distance_between([current_user.latitude,current_user.longitude], [user.latitude,user.longitude]).round(1) %> km
                </div>
              <div>
                <i class="fas fa-caret-right" ></i>
                <%= user.hand %>
              </div>
            </div>

            <div class="background-shadow">
              <i class="fas fa-home"></i>
              <%= user.club %>
            </div>

            <div class="card-rank">
              <i class="fas fa-trophy"></i>
              Ranking: <%= user.ranking %>
            </div>

            <div class="background-shadow">
              <h6 class="card-description" >
                <i class="fas fa-info"></i>
                <%= user.description %>
              </h6>
            </div>
          </div>

          <%= simple_form_for @answer do |f| %>
            <div class="bottom-buttons">
              <%= f.hidden_field :receiver_id, :value => user.id %>
              <%= f.button :button, "No Way!", type: :submit, name: "answer[status]", value: "dislike", class: "btn btn-danger", id: "dislike-#{user.id}" %>
              <%= f.button :button, "Let's go!", type: :submit, name: "answer[status]", value: "like", class: "btn btn-success", id: "like-#{user.id}" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
