
<%= image_tag "https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-hacker-3830b32ad9e0802c-512x512.png"%>
<br>
<h2> <%= @user.name %></h2>
<p>Age: <%= @user.age %></p>
<p>Ranking: <%= @user.ranking %></p>

<%= @users.pluck(:email) %>


<%= simple_form_for @answer do |f| %>
  <%= f.hidden_field :receiver_id, :value => @user.id %>
  <%= f.submit name: "answer[status]", value: "like", class: "btn btn-success" %>
  <%= f.submit name: "answer[status]", value: "dislike", class: "btn btn-danger" %>
<% end %>
