<div class="container-profile" >
  <div class="prof-picture">
    <p class="page-title">Profile Edition</p>
    <div class="profile-picture2" style="background-image: url(<%= cl_image_path current_user.picture %>);"></div>
  </div>
  <div class="card-name-age1"> <%= current_user.name %>, <%= current_user.age %> </div>

  <div>
    <div class="edition">
      <div class="icon-profile" >
        <%= link_to edit_user_registration_path do %>
          <i class="fas fa-cog"></i>
        <% end %>
        <%= link_to edit_criteria_path(current_user) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </div>

      <div class="action-indication" >
        <p>Edit profile</p>
        <p>Edit criterias</p>
      </div>
      <div class="logout-button" >
        <a><%= link_to "Logout", destroy_user_session_path, method: :delete %></a>
      </div>
    </div>
  </div>
</div>
