<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-warning"%>
      </div>
    </div>
<% end %>

<%= render "devise/shared/links" %>

